// Colors
$color-purple-1: #493fbd5d;
$color-purple-2: #493fbd;
$color-begie-light: #f9f5eb;
$color-begie-dark: #ccd5ae;
$color-white: #eee;
$color-black: #000;
$color-orange-pink: #e7ab9a;
$color-orange-pink-2: #df7857;
$color-yellow: #ffdd83;
$color-gray-light: #8e8e8e;
$color-gray-dark: #474747;
$color-gray: #b6b6b6;
$color-green: green;
$color-red: #f14747;
